<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name='description' content="<%= @page_description %>">
    <%= csrf_meta_tags %>

    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="https://necolas.github.io/normalize.css/4.1.1/normalize.css", rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel= "stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700|Playfair+Display:400,400i,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <%= render partial: 'layouts/flashes' %>
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
